@{
    ViewData["Title"] = "Про Нас";
}

<h1>Про GameUniverse</h1>

<p>Ласкаво просимо до GameUniverse!</p>

<p>GameUniverse - це унікальна платформа, створена для всіх любителів ігор. Ми прагнемо надати користувачам зручний спосіб дізнаватися про нові ігри, переглядати наш каталог, читати огляди та спілкуватися з іншими гравцями.</p>

<h2>Наша Місія</h2>
<p>Наша місія - об'єднати гравців з усього світу та надати їм якісні інструменти для взаємодії з ігровим контентом. Ми прагнемо створити платформу, яка буде корисною як для новачків, так і для досвідчених гравців.</p>

<h2>Що ми пропонуємо</h2>
<ul>
    <li>Великий каталог ігор з різних жанрів і платформ.</li>
    <li>Огляди ігор від користувачів та експертів.</li>
    <li>Можливість створювати списки бажань та слідкувати за новими релізами.</li>
    <li>Досягнення та нагороди для активних користувачів.</li>
    <li>Інтерактивне співтовариство гравців.</li>
</ul>

<h2>Зв'яжіться з Нами</h2>
<p>Якщо у вас є питання або пропозиції, будь ласка, зв'яжіться з нами за адресою: contact@gameuniverse.com або телефонуйте за номером: +123-456-7890.</p>

<p>Дякуємо, що ви з нами!</p>
