@{
    ViewData["Title"] = "Політика Приватності";
}

<h1>@ViewData["Title"]</h1>

<p>На цій сторінці наведено політику конфіденційності нашого сайту GameUniverse.</p>

<h2>Збір Інформації</h2>
<p>Ми збираємо наступну інформацію:</p>
<ul>
    <li>Особисті дані, такі як ім'я, електронна пошта та інші контактні дані.</li>
    <li>Інформація про використання сайту, включаючи історію переглядів, дії користувача та інші поведінкові дані.</li>
    <li>Технічна інформація, така як IP-адреса, тип браузера та операційна система.</li>
</ul>

<h2>Використання Інформації</h2>
<p>Ми використовуємо зібрану інформацію для:</p>
<ul>
    <li>Покращення якості наших послуг та користувацького досвіду.</li>
    <li>Надання персоналізованих рекомендацій та контенту.</li>
    <li>Зв'язку з користувачами для надання інформації про оновлення та новини.</li>
    <li>Аналізу та дослідження для покращення функціональності сайту.</li>
</ul>

<h2>Захист Інформації</h2>
<p>Ми приймаємо відповідні заходи для захисту вашої інформації від несанкціонованого доступу, використання або розголошення.</p>

<h2>Поділ Інформацією</h2>
<p>Ми не передаємо вашу особисту інформацію третім особам без вашої згоди, за винятком випадків, передбачених законодавством.</p>

<h2>Зміни до Політики Приватності</h2>
<p>Ми можемо періодично оновлювати цю політику конфіденційності. Будь-які зміни будуть опубліковані на цій сторінці.</p>

<p>Останнє оновлення: @DateTime.Now.ToString("d MMMM yyyy")</p>

<h2>Контакти</h2>
<p>Якщо у вас є питання або пропозиції щодо нашої політики конфіденційності, будь ласка, зв'яжіться з нами за адресою: privacy@gameuniverse.com</p>
