@model List<GameUniverse.Models.User>

@{
    ViewData["Title"] = "Користувачі";
    var currentUserId = ViewBag.CurrentUserId;
}

<h1 class="text-center">Список Користувачів</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ім'я</th>
            <th>Email</th>
            <th>Роль</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            if (user.Id.ToString() != currentUserId)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@(user.IsAdmin ? "Адмін" : "Користувач")</td>
                    <td>
                        <form asp-controller="Admin" asp-action="DeleteUser" method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-danger">Видалити</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
