@model GameUniverse.Models.User

@{
    ViewData["Title"] = "Профіль";
}

<h1 class="text-center">Профіль</h1>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Інформація про користувача</h5>
            <p><strong>Ім'я користувача:</strong> @Model.Username</p>
            <p><strong>Email:</strong> @Model.Email</p>
            <a asp-action="Logout" class="btn btn-danger">Вийти</a>
        </div>
    </div>
</div>
